<div class="col-md-4">
    <div class="widget-card">
        <div class="widget-title">
            <h5>[#lang_total_exchanges]</h5>
            <p class="text-primary"><i class="fa fa-refresh"></i></p>
        </div>
        <div class="widget-info">
            <h3>[@my_exchanges_num]</h3>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title"><i class="fa fa-refresh"></i> [#lang_title_latest_exchanges]</h4>
        </div>
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>[#lang_tb_send]</th>
                            <th>[#lang_tb_receive]</th>
                            <th>[#lang_tb_status]</th>
                            <th>[#lang_tb_details]</th>
                        </tr>
                    </thead>
                    <tbody>
                        [@exchanges_list]
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>