<div class="col-md-6">
    <div class="widget-card">
        <div class="widget-title">
            <h5>[#lang_your_discount_level]</h5>
            <p class="text-primary"><i class="fa fa-percent"></i></p>
        </div>
        <div class="widget-info">
            <h3>[@discount_level]</h3>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="widget-card">
        <div class="widget-title">
            <h5>[#lang_your_exchanged_volume]</h5>
            <p class="text-primary"><i class="fa fa-money"></i></p>
        </div>
        <div class="widget-info">
            <h3>[@total_exchanged] USD</h3>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title"><i class="fa fa-percent"></i> [#lang_title_discount_system]</h4>
        </div>
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>[#lang_tb_discount_level]</th>
                            <th>[#lang_tb_exchanged_volume]</th>
                            <th>[#lang_tb_discount_percentage]</th>
                        </tr>
                    </thead>
                    <tbody>
                        [@discount_rows]
                        <tr>
                            <td colspan="3">
                                [#lang_info_2]
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>

        </div>
    </div>
</div>