</div>
</div>
</div>
</div>
</div>



<script src="[@url]app/templates/LightExchanger/assets/vendor/jquery/jquery.min.js"></script>
<script src="[@url]app/templates/LightExchanger/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


<script src="[@url]app/templates/LightExchanger/assets/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="[@url]app/templates/LightExchanger/assets/js/scripts.js"></script>
<script src="[@url]app/templates/LightExchanger/assets/js/ce.js"></script>

<input type="hidden" id="wurl" value="[@url]">
</body>


</html>