<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title"><i class="fa fa-star"></i> [#lang_title_reviews]</h4>
        </div>
        <div class="card-body">

            <span class="float-right"><a href="[@url]account/new/review" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> [#lang_btn_6]</a></span>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>[#lang_tb_your_review]</th>
                            <th>[#lang_tb_type]</th>
                            <th>[#lang_tb_posted]</th>
                            <th>[#lang_tb_status]</th>
                        </tr>
                    </thead>
                    <tbody>
                        [@reviews_list]
                    </tbody>
                </table>
            </div>

            [@pages]

        </div>
    </div>
</div>