<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title"><i class="fa fa-support"></i> [#lang_menu_support_tickets]</h4>
        </div>
        <div class="card-body">

            <div class="user-top">
                <p><strong>[@title]</strong></p>
            </div>

            [@ticket_controls]

            <hr>
            <br>
            <Br>
            <div class="row">
                <div class="col-md-12">
                    [@results]
                </div>
                <div class="col-md-12 col-lg-12 chat-row">
                    <div class="message-chat">
                        <div class="message-chat-history">
                            [@messages]
                        </div>

                        <div class="type-message">
                            [@message_form]

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>