<tr>
    <td class="coin_icon">
        <img src="[@gateway_send_icon]" class="img-circle cryptoexchanger-icon-reserve" width="24px" height="24px">
        <span>[@gateway_send] <b>[@amount_send_currency]</b></span>
    </td>
    <td>
        [@amount_send] [@amount_send_currency]
    </td>
    <td class="coin_icon">
        <img src="[@gateway_receive_icon]" class="img-circle cryptoexchanger-icon-reserve" width="24px" height="24px">
        <span>[@gateway_receive] <b>[@amount_receive_currency]</b></span>
    </td>
    <td>
        [@amount_receive] [@amount_receive_currency]
    </td>
    <td><span class="btn btn-success">Completed</span></td>
</tr>