<div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="35%">[#lang_table_give]</th>
                    <th width="35%">[#lang_table_get]</th>
                    <th width="20%"><span class="pull-right">[#lang_table_reserve]</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                [@rates_rows]
            </tbody>
        </table>
    </div>
    <br>