<tr>
        <td><img src="[@give_icon]" width="36px" height="36px" class="img-circle" style="float:left;margin-right:5px;"> [@give_name] [@give_currency]<br/><small style="float:left;">[@give_rate] [@give_currency]</small></td>
        <td><img src="[@get_icon]" width="36px" height="36px" class="img-circle" style="float:left;margin-right:5px;"> [@get_name] [@get_currency]<br/><small style="float:left;">[@get_rate] [@get_currency]</small></td>
        <td><span class="pull-right">[@get_reserve] [@get_currency]</span></td>
        <td><a href="[@exchange_href]" class="btn btn-primary btn-sm">[#lang_btn_17]</a></td>
</tr>