<div class="footer landing">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-md-6">
                <div class="footer-link text-left">
                    <a href="[@url]page/terms-and-conditions">Terms & Conditions</a>
                    <a href="[@url]page/privacy-policy">[#lang_title_privacy_policy]</a>
                    <a href="[@url]page/about-us">[#lang_title_about_us]</a>
                    <a href="[@url]page/disclaimer">Disclaimer</a>
                    <a href="[@url]page/cookies-policy">Cookies policy</a>
                    <a href="[@url]page/refund-policy">Refund Policy</a>
                    <a href="[@url]page/faq">[#lang_title_faq]</a>
                    <a href="[@url]contacts">[#lang_title_contacts]</a>
                </div>
            </div>
            <div class="col-xl-6 col-md-6 text-lg-right text-center">
                <div class="social">
                    <a href="#"><i class="fa fa-youtube-play"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-xl-12 text-center text-lg-right">
                <div class="copy_right text-center text-lg-center">
                    <a> © 2023 [@name]. All Rights Reserved. <br> Website Design & Developed By <a href="https://webextee.com/"><b>WebExtee™<b></a>
                </div>
            </div>
        </div>
    </div>
</div>



</div>





<script src="[@url]app/templates/LightExchanger/assets/vendor/jquery/jquery.min.js"></script>
<script src="[@url]app/templates/LightExchanger/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


<script src="[@url]app/templates/LightExchanger/assets/vendor/owlcarousel/js/owl.carousel.min.js"></script>
<script src="[@url]app/templates/LightExchanger/assets/js/plugins/owl-carousel-init.js"></script>
<script src="[@url]app/templates/LightExchanger/assets/vendor/scrollit/scrollIt.js"></script>
<script src="[@url]app/templates/LightExchanger/assets/js/plugins/scrollit-init.js"></script>

<!-- Chart sparkline plugin files -->
<script src="[@url]app/templates/LightExchanger/assets/vendor/jquery-sparkline/jquery.sparkline.min.js"></script>
<script src="[@url]app/templates/LightExchanger/assets/js/plugins/sparkline-init.js"></script>

<script src="[@url]app/templates/LightExchanger/assets/vendor/validator/jquery.validate.js"></script>
<script src="[@url]app/templates/LightExchanger/assets/vendor/validator/validator-init.js"></script>
<script src="[@url]app/templates/LightExchanger/assets/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="[@url]app/templates/LightExchanger/assets/js/scripts.js"></script>
<script src="[@url]app/templates/LightExchanger/assets/js/slick.min.js"></script>
<script src="[@url]app/templates/LightExchanger/assets/js/ce.js"></script>

<script src="[@url]app/templates/LightExchanger/assets/js/jquery.cookie.js"></script>
<script src="[@url]app/templates/LightExchanger/assets/js/cookie.js"></script>

<input type="hidden" id="wurl" value="[@url]">



</body>

</html>