<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>[@title]</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="https://samdefi.cl/icon.png">
    <!-- Custom Stylesheet -->


    <link rel="stylesheet" href="[@url]app/templates/LightExchanger/assets/bootstrap-datepicker/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="[@url]app/templates/LightExchanger/assets/font-awesome/css/font-awesome.7min.css">
    <link rel="stylesheet" href="[@url]app/templates/LightExchanger/assets/vendor/owlcarousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="[@url]app/templates/LightExchanger/assets/css/slick.min.css">
    <link rel="stylesheet" href="[@url]app/templates/LightExchanger/assets/css/style.css">
    <link rel="stylesheet" href="[@url]app/templates/LightExchanger/assets/css/responsive.css">
    <link rel="stylesheet" href="[@url]app/templates/LightExchanger/assets/css/flaticon.css">
    <link rel="stylesheet" href="[@url]app/templates/LightExchanger/assets/flags/css/flag-icon.min.css">
</head>

<body>

\

    <div id="main-wrapper pt-0">

        <div class="header landing_page">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 position-relative">
                        <nav class="navbar navbar-expand-lg navbar-light px-0">
                            <a class="navbar-brand" href="[@url]"><img src="https://samdefi.cl/logo.png" alt=""></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="flag-icon flag-icon-[@lang_code] flag-icon"></span> [@lang]
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            [@languages_list]
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " href="[@url]">[#lang_head_menu_exchange]</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " href="[@url]reviews">[#lang_head_menu_reviews]</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " href="[@url]rates">[#lang_head_menu_rates]</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link  " href="[@url]news">[#lang_head_menu_news]</a>
                                    </li>
                                    [@UserMenu2]
                                </ul>
                            </div>
                            <div class="dashboard_log">
                                <div class="d-flex align-items-center">
                                    <div class="header_auth">
                                        [@UserMenu]
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>