<div class="py-5 margin-top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">[#lang_title_login]</h4>
                    </div>
                    <div class="card-body">

                        [@results]

                        <form role="form" action="" method="POST">
                            <div class="form-group">
                                <label for="sender-email" class="control-label">[#lang_title_two_factor_auth]:</label>

                                <div class="input-icon"><i class="icon-user fa"></i>
                                    <input id="sender-email" type="text" placeholder="Email address" class="form-control email" name="email" disabled value="[@u_email]">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="user-pass" class="control-label">[#lang_field_31]:</label>

                                <div class="input-icon"><i class="icon-lock fa"></i>
                                    <input type="text" class="form-control" placeholder="XXXXXX" id="user-pass" name="acode">
                                </div>
                            </div>


                            <div class="form-group">
                                <button type="submit" name="ce_btn" value="authorize" class="btn btn-primary  btn-block">[#lang_btn_18]</a>
                            </div>

                    </div>
                    <div class="card-footer">
    
                                
    
    
                        <p class="text-center pull-right">
                            <button type="submit" name="ce_btn" value="resend" class="btn btn-outline">[#lang_btn_19]</button>
                                </p>

                                <div style=" clear:both"></div>
                        </form>
                        </div>
                    </div>>
                </div>
            </div>
        </div>
    </div>