<div class="py-5 margin-top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">[#lang_title_reset_password]</h4>
                    </div>
                    <div class="card-body">

                        [@results]

                        <form role="form" action="" method="POST">
                            <div class="form-group">
                                <label for="sender-email" class="control-label">[#lang_field_26]:</label>

                                <div class="input-icon"><i class="icon-user fa"></i>
                                    <input id="sender-email" type="text" placeholder="[#lang_field_26]" class="form-control email" name="email">
                                </div>
                            </div>

                            [@insert_recaptcha]

                            <div class="form-group">
                                <button type="submit" name="ce_btn" value="reset" class="btn btn-primary  btn-block">[#lang_btn_20]</a>
                                </div>

                            </form>

                    </div>
                    <div class="card-footer">

                            


                        <p class="text-center pull-right"><a href="[@url]login"> [#lang_already_have_access] </a>
                        </p>

                        <div style=" clear:both"></div>
                    </div>
                </div>
                <div class="login-box-btm text-center">
                    <p> [#lang_dont_have_account] <br>
                        <a href="[@url]register"><strong>[#lang_sign_up]</strong> </a></p>
                </div>
            </div>
        </div>
    </div>
</div>