<div class="py-5 margin-top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"><i class="fa fa-check"></i> [#lang_success]</h4>
                    </div>
                    <div class="card-body text-center">

                        [#lang_your_order] #[@order_id] [#lang_was_paid] <br/> [#lang_redirecting]...
                        <meta http-equiv="refresh" content="3; url=[@url]order/[@order_hash]">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>