<div class="py-5 margin-top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-9">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">[#lang_head_menu_rates]</h4>
                    </div>
                    <div class="card-body">
                        [@rates_list]
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>